<!DOCTYPE html>
<html lang="ko">
<head>
  <title>접근할 수 없는 페이지.</title>
  <style type="text/css">

  </style>
</head>
<body>
<div id="wrap">
  <div class="title">오류가 발생하였습니다.!!!!!!!!!!!!!!!!</div>
  <p>{{exception.message}}</p>
  <p>빠른 시간내 정상화 하도록 하겠습니다.</p>
</div>
</body>
</html>

